In [5]:
import pandas as pd

movieNames = pd.read_table("ml-100k/u.item",names = ["movieID","title","date","_","URL"],
                           usecols = ["movieID","title","date","_","URL"],
                    sep ="|",index_col = "movieID", encoding = "cp1252")
movieNames.drop(columns=["date","_"],inplace=True)

In [6]:
movieNames.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1682 entries, 1 to 1682
Data columns (total 2 columns):
title    1682 non-null object
URL      1679 non-null object
dtypes: object(2)
memory usage: 39.4+ KB

In [7]:
movieNames["year"] = movieNames["title"].str.slice(-5,-1)
movieNames["title"] = movieNames["title"].str.slice(0,-6)

In [8]:
movieNames.head()

               title                                                URL  year
movieID
1         Toy Story   http://us.imdb.com/M/title-exact?Toy%20Story%2...  1995
2         GoldenEye   http://us.imdb.com/M/title-exact?GoldenEye%20(...  1995
3        Four Rooms   http://us.imdb.com/M/title-exact?Four%20Rooms%...  1995
4        Get Shorty   http://us.imdb.com/M/title-exact?Get%20Shorty%...  1995
5           Copycat   http://us.imdb.com/M/title-exact?Copycat%20(1995)  1995

In [1]:
import sqlite3
conn = sqlite3.connect('movieNames.db')

In [10]:
conn.execute('''CREATE TABLE IF NOT EXISTS movies
             (movieID INTEGER PRIMARY KEY, title TEXT, URL TEXT,year INTEGER)''')

In [11]:
# Create table
conn.execute('''CREATE VIRTUAL TABLE IF NOT EXISTS searchableNames 
USING FTS5(title, movieID, year);''')

In [12]:
conn.commit()

In [13]:
for i in movieNames.itertuples(name=None):
    #print(i)
    conn.execute('''INSERT INTO movies(movieID,title,URL,year)
VALUES(?,?,?,?);''',i)
    conn.execute('''INSERT INTO searchableNames(title,movieID,year)
VALUES(?,?,?);''',(i[1],i[0],i[3]))
conn.commit()
conn.close()

In [10]:
import sqlite3

def getMovieFromFreeText(conn,text):
    c = conn.cursor()
    c.execute('''SELECT * 
FROM searchablenames
WHERE searchablenames.title MATCH ? ORDER BY rank;''',(text,))
    return c.fetchall()

conn = sqlite3.connect('movieNames.db')
print(getMovieFromFreeText(conn,"pretty"))
conn.close()

[('Pretty Woman ', 739, '1990')]

In [7]:
def getMovieFromID(conn,movieID):
    c = conn.cursor()
    c.execute('''SELECT * 
FROM movies
WHERE movies.movieID=?;''',(movieID,))
    return c.fetchone()

In [3]:
import sqlite3

conn = sqlite3.connect('movieNames.db')
print(getMovieFromID(conn,1675))
conn.close()

(1675, 'Sunchaser, The ', 'http://us.imdb.com/M/title-exact?Sunchaser,%20The%20(1996)', 1996)

In [8]:
def searchRecommendation(conn,movieID,scoreThreshold,coOccurenceThreshold):
    c = conn.cursor()
    c.execute('''SELECT * 
FROM moviePairs as mp
WHERE (mp.movie1=:movieID OR mp.movie2=:movieID) AND numPairs>:coT AND score>:sT
ORDER BY score DESC LIMIT 10;''',
              {"movieID":movieID, "coT":coOccurenceThreshold, "sT":scoreThreshold })
    return c.fetchall()

In [16]:
import sqlite3

movieID = 739
scoreThreshold = 0.97
coOccurenceThreshold = 50

conn = sqlite3.connect('movieNames.db')

rec = searchRecommendation(conn,movieID,scoreThreshold,coOccurenceThreshold )

for row in rec:
    if movieID == row[0]:
        movieRec = getMovieFromID(conn,row[1])
    else:
        movieRec = getMovieFromID(conn,row[0])
    recDic = {"movieId":movieRec[0],
              "title":movieRec[1],
              "URL":movieRec[2],
              "year":movieRec[3],
              "score":row[3],
              "pairs":row[2]
             }
    print(recDic)

conn.close()

{'movieId': 821, 'title': 'Mrs. Winterbourne ', 'URL': 'http://us.imdb.com/M/title-exact?Mrs.%20Winterbourne%20(1996)', 'year': 1996, 'score': 0.9721551932957713, 'pairs': 16}
{'movieId': 1119, 'title': 'Some Kind of Wonderful ', 'URL': 'http://us.imdb.com/M/title-exact?Some%20Kind%20of%20Wonderful%20(1987)', 'year': 1987, 'score': 0.9716678489901012, 'pairs': 39}
{'movieId': 295, 'title': 'Breakdown ', 'URL': 'http://us.imdb.com/M/title-exact?Breakdown%20%281997%29', 'year': 1997, 'score': 0.9706341080758504, 'pairs': 19}